.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #ff5e00, #ffa000);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    cursor: pointer;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 8px;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__fix-hover:hover {
    opacity: 0.8;
}

.header__navbar-item--strong {
    font-weight: 700;
}

.header__navbar-item--separate::after { 
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid white;
    right: -10px;
    /* top: 0; cách này dễ hơn nhưng 2 cái dưới hữu ích hơn */ 
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-tittle--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon-link {
    color: white;
    text-decoration: none;
}

.header__navbar-user {
    justify-items: center;
    position: relative;  
}

.header__navbar-user-img {
    width: 22px;
    color: white;
    border-radius: 50%;
    margin-top: 4px;
    border: 1px solid #ccc;
}

.header__navbar-user-name {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 8px;
    margin-top: 3px;
}

.header__navbar-user-menu {
    list-style-type: none;
    position: absolute;
    padding-left: 0;
    top: 115%;
    right: 0;
    background-color: white;
    border-radius: 2px;
    width: 150px;
    z-index: 2;
    box-shadow: 0 2px 5px #ccc;
    display: none;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-item {
    
}

.header__navbar-user-item:hover {
    background-color: #ccc;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item::before {
    position: absolute;
    content: "";
    border-width: 10px 20px; 
    border-style: solid;
    border-color:transparent transparent white transparent;
    right: 20px;
    top: -20px;
    z-index: 1;
}

.header__navbar-user-item::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100px;
    height: 8px;
}

/* Header QR code */
.header__qr {
    width: 202px;
    background-color: white;
    position: absolute;
    top: 120%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header__qr::before {
    position: absolute;
    content: " ";
    height:20px;
    width: 100%;
    left: 0;
    top: -16px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 8px;
}

.header__qr-link:nth-child(2) {
    margin-right: 8px;
}

.header__qr-download-img {
    height: 20px;   
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;   
}

/* Header notification */
.header__notify {
    position: absolute;
    width: 404px;
    background-color: white;
    right: 0;
    top:118%;
    border: 1px solid grey;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px; 
    border-style: solid;
    border-color:transparent transparent white transparent;
    position: absolute;
    right: 20px;
    top: -27px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;   
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
} 

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 25px;
    background-color: white;
    cursor: default;
}

/* Phải chỉnh ngay vị trí h3 chứ k chỉnh ở trên dc  */
.header__notify-header h3 { 
    margin: 0;
    color: grey;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 15px 15px;
    cursor: text;
}

.header__notify-list {
    padding: 0;
    top: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item--viewed {
    background-color: rgba(255, 0, 0, 0.1);
}

.header__notify-item:hover {
    background-color: rgba(63, 62, 62, 0.1);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.6rem;
    color: black;
    font-weight: 500;
    line-height: 1.8rem;
}

.header__notify-description {
    margin-top: 4px;
    display: block;
    font-size: 1.4rem;
    color: grey;
    line-height: 1.8rem;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: black;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 0;
    text-align: center;
    display: block;
}

/* Authen modal */
.auth-form__container {
    padding: 0 32px;
}

.auth-form {
    width: 500px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    
}

.auth-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: red;
    cursor: pointer;
    font-weight: 500;
}

.auth-form__form {
    margin: 0 32px;
}

.auth-form__group {
    width: 93%;
}

.auth-form__input {
    padding: 10px 15px;
    width: 100%;
    font-size: 1.4rem;
    margin-top: 16px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    font-size: 1.2rem;
    margin: 0 32px;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy {
    margin-top: 20px;
    font-weight: 500;
}

.auth-form__text-link {
    text-decoration: none;
    color: red;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 36px;
}

.auth-form__controls-back {
    margin-right: 15px;
}

.auth-form__social {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__social-icon {
    font-size: 2rem;  
}

.auth-form__social--facebook {
    color: white;
    background-color: blue;
}

.auth-form__social--facebook
.auth-form__social-icon {
    color: white;
}

.auth-form__social--google
.auth-form__social-icon {
    color: gray;
}

.auth-form__social--gg {

}

.auth-form__social-title {
    margin: 0 24px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: grey;
}

.auth-form__help-separate {
    display: block;
    border: 1px solid var(--border-color);
    margin: -5px 16px;
    height: 20px;
}

.auth-form__help-forgot {
    color: red;
}

/* header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 150px;
    margin: 40px 40px 50px 10px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__search {
    height: 40px;
    flex: 1;
    display: flex;
    background-color: white;
    border-radius: 2px;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    padding: 0px 15px;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    color: black;
    outline: none;
    border: none;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid gray;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: black;
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: black;
    margin: 0 16px;
}

.header__search-btn {
    background-color: orangered;
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;   
}

.header__search-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header__search-icon {
    font-size: 1.4rem;
    color: white;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    list-style-type: none;
    width: 130px;
    margin-top: 15px;
    box-shadow: 0 0 3px #ccc;
    padding: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.2s;
    z-index: 1;
}  

.header__search-option::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    top: -20px;
}

.header__search-select:hover .header__search-option {
    display: block;
    cursor: pointer;
}

.header__search-option-item {
    list-style-type: none;
    background-color: white;
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: rgb(228, 225, 225)  ;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: black;
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: red;
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(228, 225, 225);
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    font-size: 1.4rem;
    font-weight: 400;
    color: gray;
    margin: 10px 12px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.header__search-history-list {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: rgb(228, 225, 225);
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    line-height: 38px;
    display: block;
}

/* header with cart */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
}

/* fix lỗi hover bên ngoài */
.header__cart-wrap > i {
    display: inline;
}

.header__cart-icon {
    width: 150px;
    color: white;
    font-size: 2.4rem;
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 11px);
    background-color: white;
    right: -10px;
    width: 450px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 10px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    cursor: pointer;
}

.header__cart-no-cart-img {
    width: 60%;
    display: none;
}

.header__cart-list--no-cart {
    
}

.header__cart-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    padding: 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg {
    /* GIỎ HÀNG TRỐNG THÌ ĐỔI QUA BLOCK */
    display: none;
    margin: 10px auto;
}

.header__cart-notice {
    position: absolute;
    padding: 2px 8px;
    background-color: white;
    color: red;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border: 1px solid red;
    border-radius: 10px;
    top: -10px;
    right: -10px;
}

.header__cart-heading {
    font-size: 1.4rem;
}

/* cart item  */

.header__cart-heading {
    text-align: left;
    margin: 15px 15px -10px 15px;
    font-size: 1.4rem;
    font-weight: 500;
    color: gray;
    border-bottom: 1px solid gray;
    padding-bottom: 8px;
}

.header__cart-list-items{
    padding-left: 0;
    list-style-type: none;
    height: 50vh;
    overflow-y: auto; /* chỉ cho scroll ở trục dọc */
}

.header__cart-item {
    display: flex;   
    align-items: center;
}

.header__cart-item:hover {
    background-color: #ccc;
    width: 100%;
}
.header__cart-item-img{
    width: 42px;
    height: 42px;
    margin: 15px;
    border: 1px solid #ccc;
}

.header__cart-item-info{
    width: 100%;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem    ;
    font-weight: 500;
    margin: 5px 0;
    flex: 1;
    padding-right: 20px;
    text-align: left;
    overflow: hidden;
    /* fix tràn chữ */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price-wrap {
    margin-right: 15px;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: red;
}

.header__cart-item-multiply{

}

.header__cart-item-qnt{
    font-size: 1.1  rem;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    font-size: 1.3rem;
    font-weight: 400;
    color: gray;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: 15px;
}

.header__cart-item-remove:hover {
    color: red;
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 15px;
}

.header__cart-view-cart:hover {
    opacity: 0.7;
}

/* CONTAINER */

/* category */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: white;
    border-radius: 3px;
}

.category__heading {
    font-size: 1.8rem;
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
}

.category-list {
    list-style-type: none;
    padding: 0;
}

.category-item {
    position: relative;
    padding: 7px 0;
} 

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: " ";
    border-top: 1px solid gainsboro;  
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;

}

.category-item__link {
    position: relative;
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
    padding: 4px 16px;
    display: block;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    color: red;
    right: -5px;
}

.category-item--active .category-item__link {
    color: red;
}

/* Mũi tên trước cái active */
/* .category-item--active .category-item__link::before {
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent red;
    top: 50%;
    left: 7px;
    content: "";
    transform: translateY(-50%);
} */

/* home + filter */

.home-filter {
    background-color: bisque;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 3px; 
}

.home-filter__label {
    font-size: 1.4rem;
    color: black;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: black;
    margin-right: 22px;
    font-weight: 400;
}

.home-filter__page-current {
    color: red;
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
} 

.home-filter__page-btn {
    flex: 1; /* chiếm hết khonản có thể chiếm */
    background-color: white;
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #ccc;
}

.home-filter__page-btn--disabled {
    background-color: grey;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon{
    color: white;
}

.home-filter__page-icon {
    margin: auto;
    color: black;
    font-size: 1.4rem;
}

.home-filter__page-btn:hover .home-filter__page-icon {
    color: red;
}

/* Home product */

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color:white;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

.home-product-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 10px;
    color: black;
    /* CHỈNH XUẤT HIỆN DẤU ... KHI NHÌU DÒNG */
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* chỉnh ... cho 1 dòng */
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item-price {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    color: gray;
    font-size: 1.4rem;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-new {
    color: red;
    font-size: 1.6rem;
    margin-left: 10px;
}

.home-product-item-action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
    font-size: 1.0rem; 
}

.home-product-item__like {
    font-size: 1.4rem;
}

.home-product-item__like-icon-empty {

}

/* thêm thẻ i cho nó mạnh hơn cái mặc định */
i.home-product-item__like-icon-fill {
    color: red;
    display: none;
} 

.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    color: grey;
    font-size: 1.0rem;
    transform: scale(0.7);
    transform-origin: right;
    margin-left: auto;
    margin-top: -1p;
}

i.home-product-item__star--gold {
    color: yellow;
}

.home-product-item__sold {
    margin-left: 7px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    color: gray;
    margin: 5px 10px 0;
}

.home-product-item__origin-brand {
    
}

.home-product-item__origin-name {
    
}

.home-product-item__favorite {
    position: absolute;
    top: 5px;
    left: -5px;
    color: orangered;
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    padding: 0 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px ;
}

.home-product-item__favorite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(70%);
}

.home-product-item__favorite span {
    color: white;
}

.home-product-item__favorite i {
    color: white;
}

.home-product-item__sale-off {
    position: absolute;
    background-color: yellow;
    text-align: center  ;
    font-size: 1.4rem;
    padding: 3px;
    top: 0;
    right: 0;
    opacity: 0.9;
    border-top-right-radius: 2px    ;
}

.home-product-item__sale-off::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    border-width: 0 21px 5px;
    border-style: solid;
    border-color: transparent yellow transparent yellow;
    opacity: 0.9;
}

.home-product-item__sale-off-percent {
    color: red;
    font-weight: 700;
    display: block;
    text-align: center;
}

.home-product-item__sale-off-label {
    color: white;
    font-weight: 700;
}

/* tạo class để không ảnh hưởng đến base */
.home-product__pagination {
    margin: 48px 0 32px;
}

/* FOOTER */

.footer {
    border-top: 4px solid orangered;
}

.footer__heading {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-top: 30px;
}

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-item__link {
    font-size: 1.4rem;
    text-decoration: none;
    color: gray;
    display: flex;
    align-items: center;
}

.footer-item__link-icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer-item__link:hover {
    color: red;
}

.footer__download {
    display: flex;
}

.footer__download-img {
    width: 80px;
    height: 80px;   
    border: 1px solid #ccc;
    object-fit: contain; /* fix mã qr */
}

.footer__download-app {
    margin-left: 40px;
    /* flex: 1; chiếm hết chiều rộng còn lại  */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-link {
    /* fix cho trình duyệt cũ bị lỗi */
    text-decoration: none;
    color: transparent;
}

.footer__download-app-img {
    margin-top: 5px;
    width: 75%;
}

.footer-bottom {
    background-color: #ccc;

}

.footer__text {

}